*{
    //border: 1px solid rgba(256, 256, 256, 1);
    margin: 0;
    padding: 0;
}

body {
    -webkit-text-size-adjust: none;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    padding-bottom: 0px;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 37px;
    padding-bottom: 8px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 25px;
    width: 100%;
    max-width: 900px;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
    text-align-last: justify;
    -moz-text-align-last: justify;
}

h4 {
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

h4 a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

