*{
    /*border: 1px solid rgba(256, 256, 256, 1);*/
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*NOTE: em based on 25px default size*/
body {
    -webkit-text-size-adjust: none;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 150%
}

@media screen and (max-device-width: 1200px) {
    body {font-size: 220%};
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h3,
h4 {
    font-weight: 100;
}

h1 {
    font-size: 1.6em;
    letter-spacing: 0.02em;
    padding-bottom: 0.2em;
}

h2 {
    font-size: 1.2em;
    padding-bottom: 0.32em;
}

h3 {
    font-size: 0.95em;
    text-align: justify;
    margin: auto;
    text-align-last: center;
    -moz-text-align-last: center;
    width: 95%;
    max-width: 900px;
}

h4 {
    padding-top: 0.4em;
    font-size: 0.8em;
}

h4 a {
    font-size: 0.76em;
    color: #ffffff;
    text-decoration: none;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

